-<ion-view title="<img src='img/logo.png' class='logo-bind'/>">
  <ion-content >
  <center>
  	<div class="item-header">
  		<span class="market-sum"><img src='img/ico-announce.png'/></span>
  		Announcement
  		<span class="reload"><img src='img/ico-reload.png'/></span>
  	</div>
  	<center ng-show="loading"><i class="icon ion-loading-c" style="font-size:30px !important; color: #0039a9"></i></center>
  	<!--input type="text" ng-model="testData" /-->
  	<div ng-repeat="newsItem in newsItems" style="margin-bottom: 5px;">
  		<table style="width:100%; color: white;">
  			<tr>
  				<td style="font-size: 14px">{{newsItem.title}}</td>
  			</tr>
  			<tr>
  				<td style="font-size: 10px">{{newsItem.description}}</td>
  			</tr>
  		</table>
  	</div>
  </ion-content>
</ion-view>
<style type="text/css">
	.pane, .view {
    margin: 0 auto;
    width: 100% !important;
}
.has-header {
    top: 100px;
}
.bar.bar-stable {
	border-bottom: 0 !important;
}
</style>