
<ion-view title="MARKET SUMMARY">
  <ion-content >
  <center>
  	<!--input type="text" ng-model="testData" /><br /-->
  	<!--div ng-repeat="response in marketArr" style="color: white;">
  		{{response.symbol_text}}
  	</div-->
  	<!--input type="text" ng-model="testRes" /><br /-->
  	
  	<div style="color: white;">
  		<table class="market-summary">
  			<tr>
  				<td>As of {{response.data.tradeDate | limitTo:10}}</td>
  				<td>Share Volume </td>
  				<td>{{response.data.shareVolume}}</td>
  			</tr>
  			<tr>
  				<td>{{response.data.status}}</td>
  				<td>Turnover</td>
  				<td>{{response.data.turnover}}</td>
  			</tr>
  		</table>
  		<table class="market-summary-2">
  			<tr>
  				<td rowspan="2">
  			  		<div class="vertical-center">
  			  			<span class="aspi">ASPI</span>&nbsp;&nbsp;<span>{{aspi_Val.aspi}}</span>
  			  		</div>
  			  	</td>
			    <td><span>1.70</span></td>	
			</tr>
			<tr>
			    <td><span>1.70</span></td>
			</tr>
			<tr>
  				<td rowspan="2">
  			  		<div class="vertical-center">
  			  			<span class="sp">S&P SL20</span>&nbsp;&nbsp;<span>7,240.56</span>
  			  		</div></td>
			    <td><span>1.70</span></td>
			</tr>
			<tr>
			    <td><span>1.70</span></td>
			</tr>
  		</table>    		
  	</div>
  	<center ><span ng-show="loading" class="icon ion-loading-c" style="font-size:30px !important; color: #0039a9"></span></center>
    <table class="default">
		<tr>
			<th colspan="2" style="text-align: left;">Symbol</th>
			<th>Share<br /> Volume</th>
			<th>Previous<br /> Close</th>
			<th>High</th>
			<th>Low</th>
			<th>Last<br /> Traded</th>
			<th></th>
		</tr>
		<tr ng-repeat="comp in marketArr">
			<td style="text-align: right; width: 15px;">
				<span class="ion-ios7-plus" style="color: #21DB27;"></span>
				<!--span class="ion-ios7-minus" style="color: red;"></span-->
			</td>
			<td style="text-align: left;">{{comp.symbol_text}}</td>
			<td>{{comp.number_1 | number:0}}</td>
			<td>{{comp.number_3 | number:2}}</td>
			<td>{{comp.number_5 | number:2}}</td>
			<td>{{comp.number_6 | number:2}}</td>
			<td>
				{{comp.number_7 | number:2}}
			</td>
			<td>
				<div ng-class="{showup: comp.number_8 > 0 , showuphide: comp.number_8 < 0 , shownothing: comp.number_8 == 0.00}" class="icon ion-chevron-up"></div>
				<div ng-class="{showdown: comp.number_8 < 0 , showdownhide: comp.number_8 > 0 , shownothing: comp.number_8 == 0.00}" class="icon ion-chevron-down"></div>
				<div ng-class="{showdash: comp.number_8 == 0.00 , shownothing: comp.number_8 != 0.00}" class="icon ion-ios7-minus-empty"></div>
				
			</td>
		</tr>
	</table>
	</center>
  </ion-content>
</ion-view>
<style type="text/css">
	.pane, .view {
    margin: 0 auto;
    width: 100% !important;
}
.has-header {
    top: 100px;
}
.bar.bar-stable {
	border-bottom: 0 !important;
}
.showup{
	display: block;
	color: #21DB27;
}
.showuphide{
	display:  none;
}
.showdown{
	display: block;
	color: red;
}
.showdownhide{
	display: none;
}
.shownothing{
	display: none;
}
.showdash{
	color: white;
}
</style>
