<ion-view title="Market Reports">
	<!--ion-nav-buttons side="left" >
  	<a type="button" ng-click="showPortfolioHome()" class="icon ion-arrow-left-c pull-left menu-home"></a>
  </ion-nav-buttons-->
  <ion-content has-bouncing="true">
    <div>
      <table class="default">
      <tr>
       <td style="font-size: 12px; width: 50%;">Report Type :</td>
       <td style="font-size: 12px; width: 50%; text-align: left;">
     <select style="border-radius: 5px;height: 30px;width: 200px;background-color: #ffffff;color: black;" ng-model="gameReportData.report_type" on-change="showHideDate()">
         <option selected="selected"></option>
         <option value="pm">Top Portfolio Managers</option>
         <option value="pp">Top Portfolio Performers</option>
         <option value="ai">Active Investors</option>
         <option value="is">Most Invested Share</option>
        </select>
       </td>
      </tr>
     </table>
     <table class="default">
      <tr ng-show="reportData.report_type!='ai' && reportData.report_type!='pm' && reportData.report_type!='pp'">
       <th colspan="2" style="text-align: center; font-size: 12px;" colspan="2">Select Date Rage</th>
      </tr>
      <tr ng-show="gameReportData.report_type!='ai' && gameReportData.report_type!='pm' && gameReportData.report_type!='pp' && gameReportData.report_type!='is'">
       <td style="font-size: 12px; width: 50%;">From:</td>
       <td style="font-size: 12px; width: 50%;"><input style="border-radius: 5px;height: 35px;width: 180px;background-color: #ffffff;color: black;" type="date" ng-model="gameReportData.fromDate" /></td>
      </tr>
      <tr ng-show="gameReportData.report_type!='ai' && gameReportData.report_type!='pm' && gameReportData.report_type!='pp' && gameReportData.report_type!='is'">
       <td style="font-size: 12px;">To:</td>
       <td style="font-size: 12px; width: 50%;"><input style="border-radius: 5px;height: 35px;width: 180px;background-color: #ffffff;color: black;" type="date" ng-model="gameReportData.toDate" /></td>
      </tr>
      <tr ng-show="gameReportData.report_type=='is'">
       <td style="font-size: 12px; width: 50%;">Date:</td>
       <td style="font-size: 12px; width: 50%;"><input style="border-radius: 5px;height: 35px;width: 180px;background-color: #ffffff;color: black;" type="date" ng-model="gameReportData.date" /></td>
      </tr>
      <tr>
       <td colspan="2" style="font-size: 12px; width: 100%; text-align: center;"><button button class="button custom-button reports-button" ng-click="openReport()">Generate</button></td>
      </tr>
     </table>
    </div>
  </ion-content>
</ion-view>

<style type="text/css">
 .pane, .view {
    margin: 0 auto;
    width: 100% !important;
}
.has-header {
    top: 100px;
}
.bar.bar-stable {
 border-bottom: 0 !important;
}
