<ion-view title="My Portfolio">
  <ion-content >
  <center>
  	<!--input type="text" ng-model="testData" /><br /-->
  	<div style="width: 100%;">
		<img style="width: 70%; margin: 0 auto;" src="./img/vstox.png" />
	</div>
  	<form ng-submit="" novalidate>
		<div class="list">
			<label style="width: 100%;" class="item item-input">
				<input type="text" ng-model="loginData.username" placeholder="Username">
			</label>
			<label style="width: 100%;" class="item item-input">
				<input type="password" ng-model="loginData.pwd" placeholder="Password">
			</label>
			<label style="width: 100%;" class="item">
				<button  class="button button-block button-positive" type="submit">LOGIN</button>
			</label>
		</div>
	</form>
  </ion-content>
</ion-view>
<style type="text/css">
	.pane, .view {
    margin: 0 auto;
    width: 100% !important;
}
.has-header {
    top: 100px;
}
.bar.bar-stable {
	border-bottom: 0 !important;
}
</style>