<ion-view title="My Portfolio">
<ion-nav-buttons side="right" >
  	<a type="button" ng-click="logout()" class="icon ion-log-out pull-right menu-user"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="left" >
  	<a type="button" ng-click="showHome()" class="icon ion-home pull-left menu-home"></a>
  </ion-nav-buttons>
	 <ion-content has-bouncing="true">
		 <center>   
			 <div style="width: 100%;">
			 	<img style="width: 160px; margin: 10px auto;" src="./img/vstox.png" />
			 </div>
		 </center>
		 <ion-list class="main-menu">
			 <div class="menus">
				 <div class="menu-container" ng-repeat="game in gamesArr | orderBy:'id'">
					 <ion-item class="menu-item" type="item-text-wrap" ng-click="redirectToTabs(game.id,game.name)">
						 <div class="menu-ico gameSM"></div>
						 <a ng-click="redirectToTabs(game.id,game.name)" class="item-content-new ng-binding" target="_self"> {{game.name}} </a>
					 </ion-item>
				 </div>
			 </div>
		 </ion-list>
	 </ion-content>
</ion-view>

<style type="text/css">
	.pane, .view {
    margin: 0 auto;
    width: 100% !important;
}
.has-header {
    top: 100px;
}
.bar.bar-stable {
	border-bottom: 0 !important;
}
</style>