<ion-view title="Research">
  <ion-content has-bouncing="true">
  <center>
  	<div style="color: white;" ng-repeat="research in researchArr">
  	<!--input type="text" ng-model="testData" /><br /-->
  		<a href="#" style="text-decoration: none;" onclick="window.open('http://research.srilankaequity.com/', '_system', 'location=yes'); return false;">
	  	    <table class="default">
	  	    	<tr>
	  	    		<td style="text-align: left;">{{research.h3_text}}</td>
	  	    		<td><i class="icon ion-chevron-right"></i></td>
	  	    	</tr>
	  	    </table>
  	    </a>
	</div>
   </center>
  </ion-content>
</ion-view>
<style type="text/css">
	.pane, .view {
    margin: 0 auto;
    width: 100% !important;
}
.has-header {
    top: 100px;
}
.bar.bar-stable {
	border-bottom: 0 !important;
}
</style>