<div class="modal test">
  <ion-header-bar>
    <div class="buttons">
    	<h1 class="title" style="line-height: 45px; color: white;">Buy</h1>
      <button class="button button-clear" ng-click="closeBuySell()"><i class="icon ion-ios7-close-outline"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <table class="buyandsell-1">
    	<tr>
    		<td style="text-align: left; border-radius: 10px 0 0 0;"><strong>Name :</strong></td>
    		<td style="border-radius: 0 10px 0 0;">Kelum Pramuditha</td>
    	</tr>
    	<tr>
    		<td style="text-align: left;"><strong>Address :</strong></td>
    		<td>Rathmalana</td>
    	</tr>
    </table>
    <br />
    <table class="buyandsell-2">
    	<tr>
    		<td colspan="2" style="text-align: left;"><strong>Buying Power :</strong></td>
    	</tr>
    </table>
    <br />
    <table class="buyandsell-1">
    	<tr>
    		<td style="text-align: left;"><strong>Symbol :</strong></td>
    		<td></td>
    	</tr>
    	<tr>
    		<td style="text-align: left; border-radius: 0 0 0 10px;"><strong>Available Quantity :</strong></td>
    		<td style="border-radius: 0 0 10px 0;"></td>
    	</tr>
    </table>
    <br />
	<div class="padding" style="width: 95%; margin: 0 auto; text-align: left;">
		<h4>Last Trading Information</h4>
	</div>
    <table class="buyandsell-last">
    	<tr>
    		<th >Date</th>
    		<th >Previous Close (Rs)</th>
    		<th >Change (Rs)</th>
    		<th >Share Volume</th>
    	</tr>
    </table>
    <br />
    <table class="buyandsell-1" style="margin-bottom: 10px;">
    	<tr>
    		<td style="text-align: right; vertical-align: middle;"><strong>Quantity :</strong></td>
    		<td><input type="text" style="border-radius: 5px; height: 20px; width: 100px; background-color: #ffffff;" /></td>
    		<td style="text-align: left; vertical-align: middle;">Price:</td>
    		<td style="text-align: left; vertical-align: middle;">xxxx.xx</td>
    	</tr>
    </table>
  </ion-content>
 </div>