<div class="modal test">
  <ion-header-bar>
    <div class="buttons">
    	<h1 class="title" style="line-height: 45px; color: white;">Report</h1>
      <button class="button button-clear" ng-click="closeReport()"><i class="icon ion-ios7-close-outline"></i></button>
    </div>
  </ion-header-bar>
  <ion-content has-bouncing="true">
    <div id="game-report-table">
    	
    </div>
    
    <div class="padding" style="margin-right: 10px;">
    	<canvas tc-chartjs-bar chart-options="options" chart-data="data" auto-legend></canvas>
    </div>
  </ion-content>
 </div>