<ion-view title="<img src='img/logo.png' class='logo-bind'/>">
	<ion-content>
		<ion-list class="main-menu">
			<div class="menu-container">
				<ion-item class="menu-item" type="item-text-wrap" href="#/tab/market">
					<div class="menu-ico marketSM"></div>
					<a href="#/tab/market" class="item-content-new ng-binding" ng-href="#/tab/market" target="_self"> Market Summary </a>
				</ion-item>
			</div>
			<div class="menu-container">
				<ion-item class="menu-item" type="item-text-wrap" href="#/tab/announcements">
					<div class="menu-ico announceMnt"></div>
					<a href="#/tab/announcements" class="item-content-new ng-binding" ng-href="#/tab/announcements" target="_self"> Announcement</a>
				</ion-item>
			</div>
			<div class="menu-container">
				<ion-item class="menu-item" type="item-text-wrap" href="#/tab/pricelists">
					<div class="menu-ico priceLst"></div>
					<a href="#/tab/pricelists" class="item-content-new ng-binding" ng-href="#/tab/pricelists" target="_self"> Price List </a>
				</ion-item>
			</div>
			<div class="menu-container">
				<ion-item class="menu-item" type="item-text-wrap" href="#/tab/gainerslosers">
					<div class="menu-ico gainLoose"></div>
					<a href="#/tab/gainerslosers" class="item-content-new ng-binding" ng-href="#/tab/gainerslosers" target="_self"> Gain & Loosers </a>
				</ion-item>
			</div>
			<div class="menu-container">
				<ion-item class="menu-item" type="item-text-wrap" href="#/tab/listedsecurities">
					<div class="menu-ico listedSecu"></div>
					<a href="#/tab/listedsecurities" class="item-content-new ng-binding" ng-href="#/tab/listedsecurities" target="_self"> Listed Securities </a>
				</ion-item>
			</div>
			<div class="menu-container">
				<ion-item class="menu-item" type="item-text-wrap" href="#/tab/myportfolio">
					<div class="menu-ico myPortfolio"></div>
					<a href="#/tab/myportfolio" class="item-content-new ng-binding" ng-href="#/tab/myportfolio" target="_self"> My Portfolio </a>
				</ion-item>
			</div>
		</ion-list>
	</ion-content>
</ion-view>
