<ion-view title="Reports">
	<ion-nav-buttons side="left" >
  	<ion-nav-button ng-click="showPortfolioHome()">
    	<i class="icon ion-arrow-left-b pull-left menu-home"></i>
  	</ion-nav-button>
  </ion-nav-buttons>
  <ion-content class="" has-bouncing="true">
    <div>
      <ion-list class="main-menu">
			<div class="menus">
				<div class="menu-container">
					<ion-item class="menu-item" type="item-text-wrap" href="#/tab/playerreports">
						<div class="menu-ico marketSM"></div>
						<a href="#/tab/playerreports" class="item-content-new ng-binding" ng-href="#/tab/playerreports" target="_self"> Player Reports </a>
					</ion-item>
				</div>
				<div class="menu-container">
					<ion-item class="menu-item" type="item-text-wrap" href="#/tab/marketreports">
						<div class="menu-ico gameSM"></div>
						<a href="#/tab/marketreports" class="item-content-new ng-binding" ng-href="#/tab/marketreports" target="_self"> Game Reports </a>
					</ion-item>
				</div>
			</div>
		</ion-list>
		
     </div>
  </ion-content>
</ion-view>

<style type="text/css">
 .pane, .view {
    margin: 0 auto;
    width: 100% !important;
}
.has-header {
    top: 100px;
}
.bar.bar-stable {
 border-bottom: 0 !important;
}
