<ion-view title=" ">
	<ion-content class="padding">
		<div class="app-logo"><img src="img/logo.png"/>
		</div>
		<div>
			<form ng-submit="doLogin()" novalidate>
				<div class="login-title">
					LOGIN
				</div>
				<div class="list">
				  <label class="item item-input">
				    <input type="text" ng-model="loginData.username" placeholder="Username">
				  </label>
				  <label class="item item-input">
				    <input type="password" ng-model="loginData.pwd" placeholder="Password">
				  </label>
				  <label class="item">
					<button  class="button button-block button-positive" type="submit">LOGIN</button>
				  </label>
				</div>
			</form>
			<input type="text" ng-model="testData" />
			<button  class="button button-block button-positive" type="button" ng-click="insert('Pramuk', 'Jayatunge')">LOGIN</button>
		</div>
	</ion-content>
</ion-view>
<style type="text/css">
.tabs {
}
</style>
