<ion-view title="Share Transactions">
	<ion-nav-buttons side="left" >
  	<a type="button" ng-click="showPortfolioHome()" class="icon ion-arrow-left-c pull-left menu-home"></a>
  </ion-nav-buttons>
  <ion-content class="">
    <div>
      <table class="default">
      	<tr>
      		<th>Date</th>
      		<th>Transaction<br />Type</th>
      		<th>Symbol</th>
      		<th>Market<br />Price</th>
      		<th>Quantity</th>
      		<th>Total</th>
      	</tr>
      	<tr ng-repeat="transaction in shareTransactionArr">
      		<td>{{transaction.date}}</td>
      		<td>{{transaction.transaction_type}}</td>
      		<td>{{transaction.security_id}}</td>
      		<td>{{transaction.market_price}}</td>
      		<td>{{transaction.quantity}}</td>
      		<td>{{transaction.total}}</td>
      	</tr>
      </table>
     </div>
  </ion-content>
</ion-view>

<style type="text/css">
 .pane, .view {
    margin: 0 auto;
    width: 100% !important;
}
.has-header {
    top: 100px;
}
.bar.bar-stable {
 border-bottom: 0 !important;
}
