<ion-view title="<img src='img/logo.png' class='logo-bind'/>">
<ion-nav-buttons side="right" >
  	<a type="button" ng-click="showAccount()" class="icon ion-person pull-right menu-user"></a>
  </ion-nav-buttons>
	<ion-content>
		<ion-list class="main-menu">
			<div class="menu-container">
				<ion-item class="menu-item" type="item-text-wrap" href="#/market">
					<div class="menu-ico marketSM"></div>
					<a href="#/market" class="item-content-new ng-binding" ng-href="#/market" target="_self"> Market Summary </a>
				</ion-item>
			</div>
			<div class="menu-container">
				<ion-item class="menu-item" type="item-text-wrap" href="#/announcements">
					<div class="menu-ico announceMnt"></div>
					<a href="#/announcements" class="item-content-new ng-binding" ng-href="#/announcements" target="_self"> Announcement</a>
				</ion-item>
			</div>
			<div class="menu-container">
				<ion-item class="menu-item" type="item-text-wrap" href="#/pricelists">
					<div class="menu-ico priceLst"></div>
					<a href="#/pricelists" class="item-content-new ng-binding" ng-href="#/pricelists" target="_self"> Price List </a>
				</ion-item>
			</div>
			<div class="menu-container">
				<ion-item class="menu-item" type="item-text-wrap" href="#/gainerslosers">
					<div class="menu-ico gainLoose"></div>
					<a href="#/gainerslosers" class="item-content-new ng-binding" ng-href="#/gainerslosers" target="_self"> Gain & Loosers </a>
				</ion-item>
			</div>
			<div class="menu-container">
				<ion-item class="menu-item" type="item-text-wrap" href="#/listedsecurities">
					<div class="menu-ico listedSecu"></div>
					<a href="#/listedsecurities" class="item-content-new ng-binding" ng-href="#/listedsecurities" target="_self"> Listed Securities </a>
				</ion-item>
			</div>
			<div class="menu-container">
				<ion-item class="menu-item" type="item-text-wrap" href="#/myportfolio">
					<div class="menu-ico myPortfolio"></div>
					<a href="#/myportfolio" class="item-content-new ng-binding" ng-href="#/myportfolio" target="_self"> My Portfolio </a>
				</ion-item>
			</div>
		</ion-list>
	</ion-content>
</ion-view>
